[Unit]
Description=Get notified about domain changes as they happen
Documentation=https://github.com/gabe565/domain-watch
After=network.target

[Service]
Restart=always
ExecStart=/usr/bin/domain-watch
TimeoutStopSec=20s
User=daemon
Group=daemon

[Install]
WantedBy=multi-user.target
